<h1>Rate an Artist!</h1><br>

<% if @artist == nil %>
  <h3>You have rated every artist!</h3>
<% else %>
  <%= @artist.name %>
  <%= button_to "Love", method: :post, controller: "tastes", action: "create", artist_id: @artist.id, user_id: current_user, opinion: "Love" %>
  <%= button_to "Like", method: :post, controller: "tastes", action: "create", artist_id: @artist.id, user_id: current_user, opinion: "Like" %>
  <%= button_to "Don't Know", method: :post, controller: "tastes", action: "create", artist_id: @artist.id, user_id: current_user, opinion: "Don't Know" %>
  <%= button_to "Dislike", method: :post, controller: "tastes", action: "create", artist_id: @artist.id, user_id: current_user, opinion: "Dislike" %>
<% end %>
